body {
  background: #edf1f2;
}

.Alert {
  padding: 20px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  font-weight: 600;
  text-transform: uppercase;
}

.Alert__danger {
  background-color: #CE5151;
  border: 3px solid #b83434;
  border-bottom: 6px solid #b83434;
  color: #691d1d;
}

.Alert__success {
  background-color: #7AD0A7;
  border: 3px solid #54c38e;
  border-bottom: 6px solid #54c38e;
  color: #2e835a;
}

.Alert__inform {
  background-color: #6BCFE4;
  border: 3px solid #40c1dc;
  border-bottom: 6px solid #40c1dc;
  color: #1c849a;
}

.Alert__warning {
  background-color: #E2B24A;
  border: 3px solid #d79e22;
  border-bottom: 6px solid #d79e22;
  color: #7f5d14;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.Wrapper {
  height: 100%;
}

.Header {
  font-size: 1.8em;
  font-weight: bold;
  color: #8F8F94;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #1d1f2a;
}

.Sidebar {
  background: #212330;
  width: 200px;
  position: fixed;
  top: 0px;
  bottom: 0;
}

.is-flex {
  display: -ms-flexbox;
  display: flex;
}

.is-flex-row {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.is-flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.space-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.is-flex-1 {
  -ms-flex: 1;
  flex: 1;
}

.is-flex-2 {
  -ms-flex: 2;
  flex: 2;
}

.is-flex-3 {
  -ms-flex: 3;
  flex: 3;
}

.Content {
  margin-left: 200px;
  position: relative;
}

.Content__inner {
  padding: 20px;
  margin-top: 100px;
}

.Content__header {
  height: 100px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  background: white;
  border-bottom: 2px solid #d9d9d9;
  padding: 20px;
  padding-flex-basis: 100%;
  padding-border-bottom: 1px solid #f2f2f2;
}

.Footer {
  border-top: 1px solid #373945;
  padding: 10px;
}

.Navigation {
  padding-top: 20px;
  background: #212330;
}

.Navigation__list {
  background: #212330;
}

.Navigation__item a {
  padding: 10px 16px;
  border-left: 8px solid transparent;
  color: #c3c3c6;
  -ms-flex: 1;
  flex: 1;
  transition: all ease .3s;
  font-weight: bold;
}

.Navigation__item a:hover {
  border-left: 8px solid #36394e;
  color: #f7f7f8;
  background-color: #1d1f2a;
}

.Card {
  border-bottom: 2px solid #d9d9d9;
  background-color: #FFF;
  margin: 20px;
}

.Card__title,
.Card__body {
  color: #b3b3b3;
  padding: 20px;
}

.Table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
  padding: 8px;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.Card .Table {
  overflow-x: scroll;
  display: -ms-flexbox;
  display: flex;
}

.Table__head {
  text-align: left;
  padding: 10px;
}

.Table__row {
  text-align: left;
}

.Table__row--body {
  vertical-align: top;
  padding: 6px 0;
  font-size: .9rem;
}

.Table__row--body > td {
  padding: 12px;
}

.Table__row--body > td:last-child {
  padding: 12px;
}

.Table__row--body:nth-child(2n + 3) td {
  background: whitesmoke;
}

button,
submit {
  cursor: pointer;
}

.Button {
  display: inline-block;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #edf1f2;
  color: #edf1f2;
  line-height: 12px;
  text-align: center;
  font-weight: 600;
}

.is-primary {
  background: #6BCFE4;
  border: 0;
  border-bottom: 2px solid #24a9c5;
}

.is-primary:hover {
  background: #24a9c5;
}

.is-danger {
  background: #CE5151;
  border: 0;
  border-bottom: 2px solid #902929;
}

.is-danger:hover {
  background: #902929;
}

input {
  padding: 20px;
  margin-bottom: 20px;
}

input[type='submit'],
input[type='file'] {
  cursor: pointer;
}

input:disabled {
  color: #ABABAB;
  background-color: #E3E3E3;
  border-color: #BABABA;
  pointer-events: none;
}

.Input__title {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.u-full-width {
  width: 100%;
}

.Modal {
  display: none;
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  background: #FFF;
}

.Modal__inner {
  overflow-y: scroll;
  height: 100%;
  padding: 20px;
}

.close {
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 100;
  box-shadow: 2px 2px 6px gray;
  cursor: pointer;
}

.is-left {
  float: left;
}

.is-right {
  float: right;
}

.border-none {
  border: none;
}

.form-control {
  width: 100%;
}

.show {
  display: block;
}

[class^="button"] {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #8F8F94;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.button-danger {
  color: white;
  background: #CE5151;
  border: 1px solid #b83434;
}

.button-danger:hover {
  color: white;
  background: #b83434;
  border: 1px solid #a42e2e;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.Form__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.Form__switch input {
  display: block;
}

.Form__switch input:checked + .Form__slider {
  background-color: purple;
}

.Form__switch input:focus + .Form__slider {
  box-shadow: 0 0 1px #2196F3;
}

.Form__switch input:checked + .Form__slider:before {
  transform: translateX(40px);
}

.Form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -khtml-transition: 0.4s;
  transition: 0.4s;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.Form__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}