@import 'https://fonts.googleapis.com/css?family=Lato|Oxygen:700';
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 26px;
  line-height: 1.625rem;
}

a {
  color: #69BAD4;
  text-decoration: none;
  background-color: transparent;
  -webtext-decoration-skip: objects;
}

a:active,
a:hover {
  color: #41a8c9;
  outline-width: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

h1,
.fs-1 {
  font-size: 52px;
  font-size: 3.25rem;
  line-height: 58px;
  line-height: 3.625rem;
}

h2,
.fs-2 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem;
}

h3,
.fs-3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
}

h4,
.fs-4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
}

h5,
.fs-5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}

h6,
.fs-6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem;
}

h1 {
  margin-bottom: .5em;
  color: #8F8F94;
  font-weight: bold;
}

h2 {
  margin-bottom: .2em;
  color: #8F8F94;
  font-weight: bold;
}

h3 {
  margin-bottom: .2em;
  color: #8F8F94;
  font-weight: bold;
}

h4 {
  margin-bottom: .2em;
  color: #8F8F94;
  font-weight: bold;
}

h5 {
  margin-bottom: .1em;
  color: #8F8F94;
  font-weight: bold;
}

h6 {
  margin-bottom: .1em;
  color: #8F8F94;
  font-weight: bold;
}

b,
strong,
.strong {
  font-weight: 700;
}

em,
.em {
  font-style: italic;
}

abbr[title],
.abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

small,
.small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
}

mark,
.mark {
  background-color: #ff0;
  color: #000;
}

sub,
.sub,
sup,
.sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: ine;
}

sub,
.sub {
  bottom: -0.25em;
}

sup,
.sup {
  top: -0.5em;
}

del,
.del {
  text-decoration: line-through;
}

figure {
  margin: 1em 40px;
}

hr,
.hr {
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}

@media (min-width: 750px) {
  .Wrapper {
    margin-top: 51px;
    height: calc(100% - 51px);
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: scroll;
  }
}

html,
body {
  min-height: 100%;
  height: 100%;
}

.Body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.Container {
  padding: 0 10px;
}

@media (min-width: 750px) {
  .Container {
    padding-left: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.Container--vertical {
  padding: 100px 0;
  max-width: 1190px;
  width: 90%;
  margin: 0 auto;
}

.Container--vertical img {
  width: 100%;
  height: auto;
}

.Navigation {
  background-color: #4C494B;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: block;
}

@media (min-width: 750px) {
  .Navigation {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.Navigation__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 750px) {
  .Navigation__list {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
}

.Navigation__list--row {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Navigation__list > li {
  position: relative;
  white-space: nowrap;
  height: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width: 750px) {
  .Navigation__list > li:hover > ul {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    height: auto;
  }
}

.Navigation__list > li > a {
  padding: 10px 20px;
  line-height: 31px;
  color: white;
  display: block;
  -ms-flex: 1;
  flex: 1;
}

.Navigation__list > li > a:hover {
  background-color: #323031;
}

.Navigation__list > li > ul {
  -khtml-transition: opacity 0.5s;
  transition: opacity 0.5s;
  overflow: hidden;
  height: auto;
  position: relative;
  background-color: #3f3d3e;
  border-bottom: 1px solid #323031;
  border-top: 1px solid #323031;
}

@media (min-width: 750px) {
  .Navigation__list > li > ul {
    position: absolute;
    right: 0;
    padding: 0;
    top: 51px;
    height: 0;
    border: 0;
    background-color: #4C494B;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}

.Navigation__list > li > ul > li {
  position: relative;
  white-space: nowrap;
}

.Navigation__list > li > ul > li > a {
  padding: 10px 20px;
  line-height: 31px;
  color: white;
  display: block;
}

.Navigation__list > li > ul > li > a:hover {
  background-color: #323031;
}

.Navigation__dropdown--bars {
  color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 48px;
  padding: 10px;
  cursor: pointer;
}

.Navigation__dropdown--bars > span {
  display: block;
  background-color: #736e72;
  height: 5px;
  width: 100%;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

.Navigation__dropdown--bars:hover > span {
  background-color: #8d888b;
}

@media (min-width: 750px) {
  .Navigation__dropdown--bars {
    display: none !important;
  }
}

.Navigation__toggle {
  display: none;
}

@media (min-width: 750px) {
  .Navigation__toggle {
    display: -ms-flexbox;
    display: flex;
  }
}

.show {
  display: -ms-flexbox;
  display: flex;
}

.Article__Post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.Article__Post--column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.Post {
  width: 100%;
  padding: 100px 0;
}

.Post {
  *zoom: 1;
}

.Post:before,
.Post:after {
  content: "";
  display: table;
}

.Post:after {
  clear: both;
}

@media (min-width: 750px) {
  .Post {
    padding: 0 100px;
  }
}

.Post--display-row {
  float: left;
  padding: 0 100px;
}

.Post__image {
  max-width: 100%;
  height: auto;
  position: relative;
}

.Post__image img {
  width: 100%;
}

@media (min-width: 750px) {
  .Post__image img {
    width: inherit;
  }
}

.Post__image--row {
  width: auto;
  max-height: 100%;
}

.Post__description {
  border-left: 4px solid #F5822A;
  padding-left: 20px;
}

.Post__description_head {
  margin: 20px 0 10px;
  color: #8F8F94;
}

.Post__description_divider {
  height: 4px;
  width: 50px;
  margin: 10px 0;
  background: #F5822A;
}

a .Post__description_body {
  color: #8F8F94;
}

.Blocker {
  display: none;
}

.Blocker.blocked {
  display: -ms-flexbox;
  display: flex;
  background: #ffe2c6;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffe2c6 0%, #ffa73d 50%, #ff7c00 50%, #ffa73d 93%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2c6', endColorstr='#ffa73d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.Blocker.blocked .NSFW {
  display: block;
  background: white;
  padding: 20px;
  text-align: center;
}

.Blocker.blocked .NSFW h1 {
  color: #F5822A;
}

.hidden {
  display: none;
}

.Content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 750px) {
  .Content {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.Content__body {
  padding-left: 20px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

@media (min-width: 750px) {
  .Content__body {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
  }
}

.Tags {
  display: -ms-flexbox;
  display: flex;
  font-size: .8em;
}

.Tags li {
  margin-top: 10px;
  margin-right: 15px;
  background: #e8e8e8;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.Tags li a {
  color: white;
  padding: 5px 10px;
  display: block;
}

.Tags li:hover {
  background: #cfcfcf;
  color: white;
}

[class^="button"] {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #8F8F94;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.button-danger {
  color: white;
  background: #860124;
  border: 1px solid #530116;
}

.button-danger:hover {
  color: white;
  background: #530116;
  border: 1px solid #3a0010;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.Form__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.Form__switch input {
  display: block;
}

.Form__switch input:checked + .Form__slider {
  background-color: purple;
}

.Form__switch input:focus + .Form__slider {
  box-shadow: 0 0 1px #2196F3;
}

.Form__switch input:checked + .Form__slider:before {
  transform: translateX(40px);
}

.Form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -khtml-transition: 0.4s;
  transition: 0.4s;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.Form__slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}