=alert_color($color)
	background-color: $color	
	border: 3px solid darken($color, 10%)
	border-bottom: 6px solid darken($color, 10%)
	color: set-text-color($color, $color)

.Alert	
	padding: 20px
	+border-radius(7px)
	font-weight: 600
	text-transform: uppercase

.Alert__danger
	+alert_color($danger)

.Alert__success
	+alert_color($success)

.Alert__inform
	+alert_color($inform)

.Alert__warning
	+alert_color($warning)