button, submit
	cursor: pointer

.Button 
	display: inline-block
	padding: 10px 15px
	background: transparent
	border: 1px solid $clouds
	color: $clouds
	line-height: 12px
	text-align: center
	font-weight: 600

.is-primary
	background: $inform
	border: 0
	border-bottom: 2px solid darken($inform, 20%)
	&:hover
		background: darken($inform, 20%)

.is-danger
	background: $danger
	border: 0
	border-bottom: 2px solid darken($danger, 20%)
	&:hover
		background: darken($danger, 20%)