.Card
    border-bottom: 2px solid darken($main, 15%)
    background-color: $card_body_background
    margin: 20px

.Card__title,
.Card__body
    color: set-text-color($card_title_background, $card_title_background)
    padding: 20px