$content-header-height : 100px

.Content
    margin-left: 200px
    position: relative

.Content__inner
    padding: 20px
    margin-top: $content-header-height

.Content__header
	height: $content-header-height
	justify-content: space-between
	align-items: center
	display: flex
	background: white
	border-bottom: 2px solid darken($main, 15%)
	padding: 20px
    flex-basis: 100%
    border-bottom: 1px solid darken($main, 5%)