.is-flex
	display: flex 

.is-flex-row
	flex-flow: row wrap 

.is-flex-column
	flex-direction: column 

.space-between
	justify-content: space-between

.space-around
	justify-content: space-around

@for $i from 1 to 4
	.is-flex-#{$i}
		flex: #{$i}