input
	padding: 20px
	margin-bottom: 20px

input[type='submit'], input[type='file']
	cursor: pointer

input:disabled
	color: #ABABAB
	background-color: #E3E3E3
	border-color: #BABABA
	pointer-events: none


.Input__title
	font-size: 1.5rem
	line-height: 1.5rem
.u-full-width	
	width: 100%