.Modal
	display: none
	position: fixed
	top: 40px
	left: 40px
	right: 40px
	bottom: 40px
	z-index: 9999
	background: $white

.Modal__inner
	overflow-y: scroll
	height: 100%
	padding: 20px

.close
    display: flex
    width: 40px
    height: 40px
    border-radius: 50%
    background: white
    align-items: center
    justify-content: center
    font-size: 2em
    position: absolute
    top: -10px
    right: -10px
    z-index: 100
    box-shadow: 2px 2px 6px gray
    cursor: pointer