.Navigation
    padding-top: 20px
    background: $nav

.Navigation__list
    background: $nav

.Navigation__item
    a
        padding: 10px 16px 
        border-left: 8px solid transparent
        color: lighten($gray, 20%)
        flex: 1
        transition: all ease .3s
        font-weight: bold

        &:hover
            border-left: 8px solid lighten($nav, 10%)
            color: lighten($gray, 40%)
            background-color: darken($nav, 2%)