*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

html, body
    height: 100%

a
    text-decoration: none

ul
    list-style: none

img
	width: 100%
	height: auto