.Table
    width: 100%
    border-spacing: 10px
    border-collapse: collapse
    padding: 8px
    flex-flow: row wrap
    .Card &
        overflow-x: scroll 
        display: flex

.Table__head
    text-align: left
    padding: 10px

.Table__row
    text-align: left    

    &--body
        vertical-align: top
        padding: 6px 0
        font-size: .9rem

        > td 
            padding: 12px
            &:last-child
                padding: 12px

        &:nth-child(2n + 3) td
            background: shade($card_body_background, 4%)
