.Blocker
    display: none
.Blocker.blocked
    display: flex
    background: #ffe2c6; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffe2c6 0%, #ffa73d 50%, #ff7c00 50%, #ffa73d 93%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffe2c6 0%,#ffa73d 50%,#ff7c00 50%,#ffa73d 93%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffe2c6 0%,#ffa73d 50%,#ff7c00 50%,#ffa73d 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe2c6', endColorstr='#ffa73d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    cursor: pointer
    justify-content: center
    align-items: center

    .NSFW
        display: block
        background: white
        padding: 20px
        text-align: center
        h1 
            color: $Brand__primary

.hidden
    display: none