[class^="button"]
	display: inline-block
	padding: 5px 10px
	border: 1px solid $text
	@include border-radius(4px)

.button
	&-danger
		color: white
		background: $danger
		border: 1px solid darken($danger, 10%)
		&:hover
			color: white;
			background: darken($danger, 10%)
			border: 1px solid darken($danger, 15%)