.Container
	padding: 0 10px
	+tablet
		padding-left: 100px
		display: flex 
		flex-direction: row
		// align-items: baseline

.Container--vertical
	padding: 100px 0
	max-width: $container_width
	width: 90%
	margin: 0 auto
	img
		width: 100%
		height: auto
