input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
  height: 38px
  padding: 6px 10px
  // The 6px vertically centers text on FF, ignored by Webkit
  background-color: #fff
  border: 1px solid #D1D1D1
  border-radius: 4px
  box-shadow: none
  box-sizing: border-box

// Removes awkward default styles on some inputs for iOS
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

textarea
  min-height: 65px
  padding-top: 6px
  padding-bottom: 6px

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus
  border: 1px solid #33C3F0
  outline: 0

label,
legend
  display: block
  margin-bottom: .5rem
  font-weight: 600

fieldset
  padding: 0
  border-width: 0

input[type="checkbox"],
input[type="radio"]
  display: inline

label > .label-body
  display: inline-block
  margin-left: .5rem
  font-weight: normal


$form_switch--Height: 20px !default
$form_switch--Width: 60px !default
$form_switch--Slider_Color: purple !default

//|--------------------------------------------------------

.Form__switch
    position: relative
    display: inline-block
    width: $form_switch--Width
    height: $form_switch--Height
    input
        display: block
        &:checked + .Form__slider
            background-color: $form_switch--Slider_Color
        &:focus + .Form__slider
            box-shadow: 0 0 1px #2196F3
        &:checked + .Form__slider:before
            transform: translateX($form_switch--Width - $form_switch--Height )

.Form__slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    +transition(.4s)
    +border-radius(4px)
    &:before
        position: absolute
        content: ""
        height: $form_switch--Height - 8
        width: $form_switch--Height - 8
        left: 4px
        bottom: 4px
        background-color: white
        transition: .4s
        +border-radius(2px)
