.Navigation
	background-color: $navigation
	position: relative
	top: 0
	left: 0 
	right: 0
	z-index: 10
	display: block
	+tablet
		position: fixed
		display: flex
		justify-content: space-between
		
	+e(list)
		display: flex
		flex-flow: column wrap
		flex: 1
		+tablet
			flex-flow: row nowrap

		+m(row)
			flex-flow: row nowrap
			justify-content: space-between

		> li 
			position: relative
			white-space: nowrap
			height: auto
			display: flex
			flex-flow: column
			+tablet
				&:hover > ul 
					+opacity(1)
					height: auto

			> a 
				padding: 10px 20px
				line-height: 31px
				color: white
				display: block
				flex: 1
				&:hover
					background-color: darken($navigation, 10%)
			
			> ul
				+transition(opacity .5s)
				overflow: hidden
				height: auto
				position: relative 
				background-color: darken($navigation, 5%)
				border-bottom: 1px solid darken($navigation, 10%)
				border-top: 1px solid darken($navigation, 10%)
				+tablet
					position: absolute
					right: 0
					padding: 0
					top: 51px
					height: 0
					border: 0
					background-color: $navigation
					+opacity(0)
				> li  
					position: relative
					white-space: nowrap
					> a 
						padding: 10px 20px
						line-height: 31px
						color: white
						display: block
						&:hover
							background-color: darken($navigation, 10%)

	+e(dropdown)
		+m(bars)				
			color: white
			display: flex
			flex: 1
			flex-direction: column
			justify-content: space-between
			width: 48px
			padding: 10px
			cursor: pointer
			> span 
				display: block
				background-color: lighten($navigation, 15%)
				height: 5px
				width: 100%
				+border-radius(2px)
			&:hover > span
				background-color: lighten($navigation, 25%)
				
			+tablet()
				display: none !important



	+e(toggle)
		display: none
		+tablet()
			display: flex

.show
	display: flex