//Post
.Article__Post
	display: flex
	flex-grow: 1

	+m(column)
		flex-direction: column

.Post
	width: 100%
	padding: 100px 0
	+clearfix()
	+tablet
		padding: 0 100px
	
	+m(display-row)
		float: left
		padding: 0 100px

.Post__image
	max-width: 100%
	height: auto
	position: relative

	img 
		width: 100%
		+tablet
			width: inherit

	+m(row)
		width: auto
		max-height: 100%

.Post__description
	border-left: 4px solid $Brand__primary
	padding-left: 20px
	&_head
		margin: 20px 0 10px
		color: $heading

	&_divider
		height: 4px
		width: 50px
		margin: 10px 0
		background: $second_color

	a &_body
		color: $text
