.Tags
	display: flex
	font-size: .8em
	li
		margin-top: 10px
		margin-right: 15px
		background: $light-gray
		+border-radius(4px)
		a
			color: white 
			padding: 5px 10px
			display: block
		&:hover
			background: darken($light-gray, 10%)
			color: white