// Paragraph
p
    font-family: $font-family
    margin: 0 0 15px 0
    font-weight: $font-weight
    +font-size($font-size)
    +line-height($line-height)

// Links
a 
    color: $link_color
    text-decoration: none
    background-color: transparent
    -webtext-decoration-skip: objects
    &:active, 
    &:hover 
        color: $link_color_hover
        outline-width: 0
        text-decoration: none
  


// Headings
h1, 
h2, 
h3, 
h4, 
h5, 
h6 
    font-family: $heading-font-family
    margin: 0

h1, 
.fs-1 
    +font-size($h1-font-size)
    +line-height($h1-line-height)

h2, 
.fs-2 
    +font-size($h2-font-size)
    +line-height($h2-line-height)

h3, 
.fs-3 
    +font-size($h3-font-size)
    +line-height($h3-line-height)

h4, 
.fs-4 
    +font-size($h4-font-size)
    +line-height($h4-line-height)

h5, 
.fs-5 
    +font-size($h5-font-size)
    +line-height($h5-line-height)

h6, 
.fs-6 
    +font-size($h6-font-size)
    +line-height($h6-line-height)

h1 
    margin-bottom: .5em
    color: $h1-color
    font-weight: $h1-font-weight

h2 
    margin-bottom: .2em
    color: $h2-color
    font-weight: $h2-font-weight

h3 
    margin-bottom: .2em
    color: $h3-color
    font-weight: $h3-font-weight

h4 
    margin-bottom: .2em
    color: $h4-color
    font-weight: $h4-font-weight

h5 
    margin-bottom: .1em
    color: $h5-color
    font-weight: $h5-font-weight

h6 
    margin-bottom: .1em
    color: $h6-color
    font-weight: $h6-font-weight


// Bold and Strong
b, 
strong, 
.strong 
    font-weight: 700 

// Italics
em, 
.em 
    font-style: italic 

// Abbreviation
abbr[title], 
.abbr[title] 
    border-bottom: none
    text-decoration: underline
    text-decoration: underline dotted


// Definition
dfn 
    font-style: italic 

// Small
small, 
.small 
    +font-size(13)
    +line-height(16)


// Mark
mark, 
.mark 
    background-color: #ff0
    color: #000


// Sub and Sup
sub, 
.sub, 
sup, 
.sup 
    font-size: 75%
    line-height: 0
    position: relative
    vertical-align: ine

sub, 
.sub    
    bottom: -0.25em 
sup, 
.sup    
    top: -0.5em 

// Del
del, .del   
    text-decoration: line-through 

// Images
figure  
    margin: 1em 40px 

// Horizontal Rules
hr, 
.hr 
    -moz-box-sizing: content-box
    box-sizing: content-box
    height: 1px
    background: #eee
    border: 0
    margin-top: 20px
    margin-bottom: 20px
